//- Inherit the standard page layout
extends layouts/page

append head_meta
  title #{site_name} | #{page.title}

append head_js

append head_css
  mixin css('css/default')

append layout_links
  include includes/layout_links

append header

append main
  #outer.disc
    - for (var i = 1; i <= 365; ++i) {
      div.day(id='day#{i}')
    - }

    #inner.disc

append footer
